html,
body {
  height: 100%;
  margin: 0;
}
body {
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content {
  width: fit-content;
}

#captcha-frame {
  border-radius: 8px;
}

#loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #121212;
  align-items: center;
  justify-content: center;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading img {
  animation: spinner 2s infinite linear;
}
